*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0a75968e;
}

h1 , h2{
     border-width:thick ; 
     background-color: rgb(13, 160, 170);
     font-size: 40px;
    }

.form-label{
    color:rgb(4, 80, 80);
    font-size: 25px;
    font-weight: bold;
}

h2{
    margin: 20px;
}
